*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url("../images/fundosLogos/fundoMob.jpg");
    background-repeat: no-repeat;
    background-size: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    transition: all 1s linear;
    overflow: hidden;
}

.btn-group {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3e5063;
    z-index: 1000;
}
.btn-group .btn {
    background-color: #3e5063;
    color: #fff;
    border: none;
}
.btn-group .btn + .btn {
    margin-left: 10px; /* Adicionando espaço entre os botões */
}

.wrap-everything{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: 100%;
    width: 100%;
}

.wrap-img{
    opacity: 0.8;
    margin-bottom: 4vh;
    animation: fromTop 2s linear;
}

@keyframes fromTop{
    0%{
        transform: translateY(-200px) rotate(360deg);
    }

    100%{
        transform: translateY(0px);

    }
}

.img-style{
    width: 200px;
    height: auto;
    border-radius: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.wrap-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

p{
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 5px 5px 5px rgb(5, 4, 4);
    animation: show 2s linear;
}

@keyframes show{
    from{
        opacity: 0.1;
    }
    to{
        opacity: 0.8;
    }
}

@media (width >= 800px){
    body{
        background-image: url("../images/fundosLogos/gunShop.webp");
    } 
    .img-style{
        width: 200px;
    }  
    p{
        font-size: 6rem;
        font-weight: 900;
        color: #ffffff;
        transition: all 200ms linear;
        filter: blur(1px);
        opacity: 0.8;
    }
    p:hover{
        filter: blur(0px);
        cursor: pointer;
        opacity: 1;
        transition: all 200ms linear;
    }
}
