*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
html,
body {
  margin: 0;
  height: 100%;
}

.pai{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 6vh;
    background-color: rgba(59, 59, 59, 0.484);
}

.direita{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 80px;
    padding-bottom: 20px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rel{
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border: 4px solid rgb(22, 22, 22);
}

.im1{
    position: absolute;
    width: auto;
    height: 500px;
    transition: all 800ms linear;
    transform: scale(1);
}
.im1:hover{
    transform: scale(2.0);
    transition: all 800ms linear;
}


.esquerda{
    padding-top: 80px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 40%;
}

p{
    align-items: center;
    text-align: center;
    color: aliceblue;
    font-weight: 900;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.568);
    background-color: rgba(0, 0, 0, 0.562);
    padding: 10px;
    border-radius: 20px;
}

.im1{
    position: absolute;
    width: auto;
    height: 500px;
    transition: all 800ms linear;
    transform: scale(1);
}
.im1:hover{
    transform: scale(2.0);
    transition: all 800ms linear;
}


.btn-group {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3e5063;
    z-index: 1000;
}
.btn-group .btn {
    background-color: #3e5063;
    color: #fff;
    border: none;
}
.btn-group .btn + .btn {
    margin-left: 10px;
}

#past:hover{
    background-color: rgb(218, 164, 0);
}
    
@media (width >= 800px){
    .wrap-cards{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .card-img-top{
        height: 300px;
        width: auto;
        transform: scale(1.0);
    }

}